
<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-style:solid;
color:#000000;
font-family:arial,sans-serif;
table-layout:fixed;font-size:13px;font-family:arial,sans,sans-serif;border-collapse:collapse;border:none
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#336600;
border-style:solid;
padding:3px;
border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top
}

table.GeneratedTable thead {
background-color:#99ccff;
}

p, ul {
  font-family:arial,sans-serif;
}
</style>


<!-- HTML Code -->

<p>Hello!</p>
<p>You're receiving this email because you have a role at our next meeting on Meeting_Date!</p>
<p>Our toastmaster of the week will be: Toastmaster_Name (<a href="mailto:Toastmaster_Email" target="_blank">Toastmaster_Email</a>)!</p>

<br><p style="font-weight:bold;text-decoration:underline;">What's Next?</p>

<p>To help make this meeting a success, please do your part by having a look at your assigned role and doing one of the following in the lead-up to our meeting:</p>

<table class="GeneratedTable">
<thead>
<tr>
<th>Role</th>
<th>Member Name</th>
</tr>
</thead>
<tbody>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Toastmaster</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Toastmaster_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker 1</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker_1_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker 2</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker_2_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker 3</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Speaker_3_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator 1</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator_1_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator 2</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator_2_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator 3</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Evaluator_3_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Table Topics Master</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Table_Topics_Master_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">General Evaluator</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">General_Evaluator_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Grammarian/Um-Counter</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Grammarian_Um_Counter_Name</td>
</tr>
<tr>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Timer</td>
<td style="padding:2px 3px;border-right-color:rgb(0,0,0);border-bottom-color:rgb(0,0,0);border-left-color:rgb(0,0,0);color:rgb(0,0,0);vertical-align:top">Timer_Name</td>
</tr>
</tbody>
</table>

<p style="text-indent:18px">1) If you are this week's toastmaster, please reply-all to confirm your role</p>

<p style="text-indent:18px">2) If you've been assigned a role this week please confirm your role with your toastmaster who will work with you to build the week's agenda</p>

<p style="text-indent:18px">3) If you're speaking this week, please provide your toastmaster, Toastmaster_Name, with the speech project you'll be speaking from and the title of your speech. </p>

<p style="text-indent:18px">4) If you cannot fulfill your role, please reach out to other club members (via the club mailing list <a href="mailto:mirus001@gmail.com" target="_blank">townsend-toastmasters@goo<wbr>glegroups.com</a>) and let your toastmaster know who your sub will be.</p>

<br>
<p> <strong><u>To Our Speakers:</strong></u> Please remember to bring your Competent Communicator or Advanced Communicator manual!</strong></p>


<p> <strong><u>To Our Meeting Role Players:</strong></u> Please remember to bring your CL manual! Choose a CL project that your role fulfills and hand it to someone without a role or the General Evaluator. They will fill it out with their feedback. </p>

<p> <strong><u>Feed Your Brain:</strong></u> More information about our club and club roles can be found at the following links:
<ul>
<li style="text-indent:18px">The full schedule for meetings this quarter is available here: <a href="https://docs.google.com/spreadsheets/d/1SXPSQEyICVRD1BsOA2TKly1uo0-KZDWEHjwLPtaLyUE/edit?usp=sharing" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://docs.google.com/spreadsheets/d/1SXPSQEyICVRD1BsOA2TKly1uo0-KZDWEHjwLPtaLyUE/edit?usp%3Dsharing&amp;source=gmail&amp;ust=1491299408454000&amp;usg=AFQjCNHZfqNHA5dgmtSa3-e4K9he5cX09Q">Q2 Schedule</a></li>
<li style="text-indent:18px">Toastmaster resources on our website: <a href="http://www.townsendtoastmasters.com/p/member-resources.html"  target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.townsendtoastmasters.com/p/member-resources.html&amp;source=gmail&amp;ust=1491299408454000&amp;usg=AFQjCNETOJ0T1cVHFxf46a3yIbu-2PgPUQ">Member Resources</a></li>
<li style="text-indent:18px">Meeting role descriptions in CC manual and on club website: <a href="http://www.townsendtoastmasters.com/p/meeting-roles.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.townsendtoastmasters.com/p/meeting-roles.html&amp;source=gmail&amp;ust=1491299408454000&amp;usg=AFQjCNEV2ADdhBrOsR-D4HNDhK10w6IJBg">Meeting&nbsp;Roles</a></li>
</ul>
<br>
<p>As always, if you have questions or need help, please feel free to reach out to me.</p>

<p>Have a great meeting!</p>

<p> <strong>VPE_Name</strong></p>

<p>VP of Education | <a href="http://www.townsendtoastmasters.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.townsendtoastmasters.com/&amp;source=gmail&amp;ust=1491299408454000&amp;usg=AFQjCNGQBZsypQFo6Li_qscN2bWtidKN3A">Townsend Toastmasters</a>

<br><a href="mailto:VPE_Email" target="_blank">VPE_Email</a>


